html, body {
  color: #fff;
  font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

h3 {
  font-size: 18pt;
}

h4 {
  text-align: center;
}

input:focus {
    outline: none;
}

table.help {
    border-spacing: 0 7px;
}

#container {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

#prompt {
  float: left;
  padding-top: 1px;
}

#terminal_input {
  background-color: #000;
  border: none;
  color: #fff;
  font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
  font-size: 13px;
}

/* Mobile */

html[data-userAgent*='Mobile'] body {
  font-size: 4.0vw;
}
html[data-userAgent*='Mobile'] h3 {
  font-size: 10.0vw;
}
html[data-userAgent*='Mobile'] #container {
  position: absolute;
  left: 1%;
  width: 98%;
  max-width: none;
  height: 100%;
}
html[data-userAgent*='Mobile'] #terminal_input {
  font-size: 4.0vw;
}

/* noscript */

#splash {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Courier New", Monospace;
}

a, a:visited, a:hover, a:active {
  color: #b11c22;
  text-decoration: underline;
}

blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(2, start) infinite;
  font-family: "Times New Roman", Serif;
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
